
<head>
	<title>RecipeMate</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<%= stylesheet_link_tag 'users' %>                                           

<header id="header">
    <div class="content">
    <nav id="nav">
        <ul>
		  <li><%= link_to "HOME", root_path %></li>
		  <% if user_signed_in? %>
		  		<li><%= link_to "ACCOUNT", new_user_session_path %></li>
		        <li><%= link_to "PROFILE", edit_user_registration_path %></li>
		        <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
		  <% else %>
		    <li><%= link_to "LOG IN", new_user_session_path %></li>
		    <li><%= link_to "SIGN UP", new_user_registration_path %></li>
		  <% end %>
		</ul>

    </nav>
    </div>
</header> 

<body>

	<div id="userphoto">
        <%=image_tag("morty.png", alt: "Example Image", height: '152')%>
    </div>

	<div id="welcome">
		<div id="welcome_container">
			<h2>Welcome</h2>
			<h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
		</div>
	</div>   

	<div id="myrecipes">
		<%= link_to "MY RECIPES", new_recipe_path, class: "btn btn-large btn-primary" %>
		<hr>
	</div>  

	<div id="create">
		<%= link_to "CREATE RECIPE", new_recipe_path, class: "btn btn-large btn-primary" %>
		<hr>
	</div>  

	<div id="label">
		<h2>RecipeMate</h2>
	</div>

	<div id="recipetitle">
		<h1><%= @recipe.name %></h1>
		<h5><%= @recipe.description %></h5>
	</div>

	<div id="recipe">
		<h5>Rating: <%= recipe_rating %></h5>
		<h5>Time: <%= @recipe.time %> mins</h5>
		<h5>Instruction: <%= @recipe.instruction %></h5> 

		<%= link_to "Back", recipe_path, class: "btn btn-default" %>
		<%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
		<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
	</div>

</body>
