
<head>
	<title>RecipeMate</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<%= stylesheet_link_tag 'users' %>
</head>

<header id="header">
    <div class="content">
    <nav id="nav">
        <ul>
		  <li><%= link_to "HOME", root_path %></li>
		  <% if user_signed_in? %>
		  		<li><%= link_to "ACCOUNT", new_user_session_path %></li>
		        <li><%= link_to "PROFILE", edit_user_registration_path %></li>
		        <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
		  <% else %>
		    <li><%= link_to "LOG IN", new_user_session_path %></li>
		    <li><%= link_to "SIGN UP", new_user_registration_path %></li>
		  <% end %>
		</ul>

    </nav>
    </div>
</header> 

<body>

	<div id="label">
		<h2>RecipeMate</h2>
	</div>

	<div id="userphoto">
        <%=image_tag("morty.png", alt: "Example Image", height: '152')%>
    </div>

	<div id="welcome">
		<div id="welcome_container">
			<h2>Welcome</h2>
			<h3><%= full_name %></h3>
		</div>
	</div>    

	<div id="recipesmain">
		<%= link_to "RECIPES", '/recipes', class: "btn btn-large btn-primary" %>
		<hr>
	</div>  

	<div id="searchrecipes">
		<%= link_to "SEARCH RECIPES", '/recipes', class: "btn btn-large btn-primary" %>
		<hr>
	</div>  

	<div id="create">
		<%= link_to "CREATE RECIPE", new_recipe_path, class: "btn btn-large btn-primary" %>
		<hr>
	</div>

</body>
